export KUBECONFIG=$PWD/.mgt-cluster-kubeconfig.yaml

export PATH=$PWD/hack/tools/bin:$PATH

export PROVIDER=docker

# Versions
export K8S_VERSION=1-27
export CAPI_VERSION=v1.5.1
export CAPD_VERSION=$CAPI_VERSION

# Names
export NAMESPACE=scs-cs
export CLUSTER_CLASS_NAME=ferrol
export CLUSTER_NAME=cs-cluster
export CLUSTER_TOPOLOGY=true

# Debugging
export DISABLE_VERSIONCHECK="true"

# Release
export RELEASE_CLUSTER_CLASS=$CLUSTER_CLASS_NAME
export RELEASE_KUBERNETES_VERSION=1-27
