OCI_REGISTRY=registry.scs.community
OCI_REPOSITORY=registry.scs.community/cluster-stacks/scs
OCI_USERNAME=
OCI_PASSWORD=
# or
OCI_ACCESS_TOKEN=
GH_TOKEN=    # Accesstoken for GitHub Account for authentication for git and PR management
