[Global]
auth-url={{ clouds_yaml_full.clouds[cloud_provider].auth.auth_url }}
region={{ clouds_yaml_full.clouds[cloud_provider].region_name }}
application-credential-id={{ clouds_yaml_full.clouds[cloud_provider].auth.application_credential_id }}
application-credential-secret={{ clouds_yaml_full.clouds[cloud_provider].auth.application_credential_secret }}

[LoadBalancer]
manage-security-groups=true
use-octavia=true
enable-ingress-hostname=true
create-monitor=true
