apiVersion: clusterstack.x-k8s.io/v1alpha1
kind: ClusterStack
metadata:
  name: clusterstack
spec:
  provider: {{ cloud_provider }}
  name: alpha
  kubernetesVersion: "1.28"
  channel: custom
  autoSubscribe: false
  providerRef:
    apiVersion: infrastructure.clusterstack.x-k8s.io/v1alpha1
    kind: OpenStackClusterStackReleaseTemplate
    name: cspotemplate
  versions:
    - "{{ cluster_stack_version }}"
---
apiVersion: infrastructure.clusterstack.x-k8s.io/v1alpha1
kind: OpenStackClusterStackReleaseTemplate
metadata:
  name: cspotemplate
spec:
  template:
    spec:
      identityRef:
        kind: Secret
        name: {{ cloud_name }}