---
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: "{{ k8s_management_name }}"
nodes:
- role: control-plane
  image: "kindest/node:{{ k8s_management_version }}"
- role: worker
  image: "kindest/node:{{ k8s_management_version }}"
  extraMounts:
  - hostPath: "{{ cluster_stack_release_dir }}"
    containerPath: "{{ cluster_stack_release_container_dir }}"
